<!--
<div class="container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <div>
      <label for="nombre">Nombre: </label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required minlength="3" #nombreModel = "ngModel">
      <div *ngIf="nombreModel.invalid && nombreModel.touched">
        <small *ngIf="nombreModel.errors?.['required']">El nombre es obligatorio</small>
        <small *ngIf="nombreModel.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</small>
      </div>
    </div>

    <div>
      <label for="clave">Clave: </label>
      <input type="password" id="clave" [(ngModel)]="password" name="password" required minlength="6" #claveModel = "ngModel">

      <div *ngIf="claveModel.invalid && claveModel.touched">
        <small *ngIf="claveModel.errors?.['required']">El clave es obligatoria</small>
        <small *ngIf="claveModel.errors?.['minlength']">El clave debe tener al menos 6 caracteres</small>
      </div>


    </div>

    <button type="submit" [disabled]="form.invalid" >Aceptar</button>

  </form>

</div>
-->
<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre: </label>
      <input type="text" id="nombre" formControlName="nombre" name="nombre"  >

      @if(formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched){
        @if(formulario.get('nombre')?.errors?.['required']){
          <small>El nombre es obligatorio</small>
        }

        @if(formulario.get('nombre')?.errors?.['minlength']){
          <small>El nombre debe tener al menos 3 caracteres</small>
        }

      }

    </div>

    <div>
      <label for="clave">Clave: </label>
      <app-input type="password" id="clave" formControlName="password" name="password" > </app-input>

      <div *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched">
        <small *ngIf="formulario.get('password')?.errors?.['required']">El clave es obligatoria</small>
        <small *ngIf="formulario.get('password')?.errors?.['minlength']">El clave debe tener al menos 6 caracteres</small>
      </div>


    </div>

    <button type="submit" [disabled]="formulario.invalid">Aceptar</button>
  </form>
</div>
