input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  border-radius:8px;
  appearance: none;
  outline: none;
}

input.ng-invalid.ng-touched {
  border-color: red;
}
